@media screen and (max-width:576px) {
    nav{
        align-items: center;
        width: 100%;
        flex-direction: column;
                                        /* new added  */
        padding: 0;
       
    }
    nav h2{
        text-align: center;
    }
    .list{
        margin: 15px;
        text-align:center;
    }

    .banner-1{
        flex-direction: column-reverse;
       
    }
    .banner-1-left{
        text-align: center;
    }

    .banner-1-left p{
        width:auto;
    }
    .banner-1-right{
        width: auto;
    }  
    .main-camera{
        width: 100%;
    }

}

/* header section is done  */