*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.navbar{
    /* background-color: rgb(216, 0, 0); */
    min-height: 100px;
}

nav{

    /* new added  */
    padding: 20px;



    display: flex;   
    align-items: center;

    /* new added  */
    max-width: 1200px;
    margin: 0 auto;
    
    
    
}
.list{
    list-style: none;
    display:flex;

    /* new added  */
    justify-content: space-between;
}
nav h2{
    /* new added  */
    width: 100%;
    
}
.list a{
    text-decoration: none;

}

/* nav bar is complete  */
.banner-1{
    display: flex;
    
    width: 80%;
    margin: auto;
}
.banner-1-left{
    text-align: left;
    margin: 10% auto;
    
}
.banner-1-left h1{
    font-size: 2.5rem;

}
.banner-1-left p{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 17px;

}
.banner-1-right{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
}
.main-camera{
    width:80%;
}
.btn{
    background-color: #E02C6D;
    width: max-content;
    padding: 15px ;
    border-radius: 25px;
    border: none;
    color: white;

}
.logo{
    width: 75vw;
    margin: 8% auto;
    
}
.logo img{
    width: max-content;
    margin: 2%;
    
}